#navigation {
	border: 1px solid #ccc;
	border-width: 1px 0;
	padding: 15px;
	position: relative;
}

div.wrapper {
	width: 100%;
}

body {
	font-family: Garamond, serif;
	margin: 50px;
}

#navigation ul{
	width: 100%;
	list-style: none;
	display: inline-block;
	margin: 0;
	text-align: center;
}

#navigation li {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 50px;
	margin-right: 50px;
	display: inline;
	background-color: #aaaaaa;
}

a {
	padding: 8px;
	border: 1px solid;
	text-align: center;
	text-decoration: none;
	transition: background .2s ease;
	color: black
}
a:hover{
	background-color: #dddddd;
	transition: background .2s ease;
}
